.list {
  background-color: rgb(133, 255, 127);
  box-shadow: 10px 5px 5px rgb(97, 163, 94);
}
.title {
  margin-top: 0;
}

.itemUser {
  margin-bottom: 15px;
  /* display: flex; */
  align-items: center;
  color: black;
}

.info {
  font-size: 20px;
  margin-right: 15px;
}
