.form {
  padding: 20px;
  background-color: rgb(133, 255, 127);
  box-shadow: 10px 5px 5px rgb(97, 163, 94);
}
.formGroup {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 70px 2fr;
  align-items: center;
  gap: 20px;
}

.input {
  padding: 10px 15px;
}
.button {
  display: flex;
  align-items: baseline;
  background-color: rgb(133, 255, 127);
  cursor: pointer;
  padding: 10px 15px;
  font-weight: bold;
  border: 2px solid;
  border-radius: 5px;
  color: black;
}
.button:hover,
.button:focus {
  background-color: green;
  color: #fff;
}
.addButtonText {
  margin-left: 5px;
  margin-right: 5px;
}
